<div class="container-fluid">
    <h1>Products Listing</h1>
    <a href="Index.html#!/home">Home</a> &nbsp; <a href="Index.html#!/productsEntry">Add New</a>
    <hr/>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Search</span>
                  <input type="text" class="form-control" placeholder="search..." data-ng-model="search.item">
                </div>
            </div>
            <div class="panel-body">
                <ul >
                    <li data-ng-repeat="item in products | orderBy: 'productName' | filter:search.item">
                        {{item.productName | uppercase}} - {{item.productCategory}}
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
</div>