<div class="container-fluid">
    <h1>New Products Entry</h1>
    <a href="Index.html#!/home">Home</a> &nbsp; <a href="Index.html#!/products">Products</a>
    <hr/>
    <div class="col-sm-6">
        <div class="panel panel-info">
            
            <div class="panel-body">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">New Item</span>
                  <input type="text" class="form-control" placeholder="Item Name" data-ng-model="newProduct.productName">
                </div><br/>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Item Category</span>
                  <input type="text" class="form-control" placeholder="Item Category" data-ng-model="newProduct.productCategory">
                </div><br/>
                <button class="btn btn-success" data-ng-click="addNewItem()">Add Item</button>
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
</div>